.text-gray {
  color: #7b7a7a !important;
}
.tt-accordion-content > p {
  color: #7b7a7a !important;
}
/* .tt-btn-link::after > a[data-hover="Read More"] {
  content: none;
}
.tt-btn-link > a[data-hover="Read More"] {
  display: none !important;
} */

.tt-section-inner {
}

.custom-opacity::before {
  opacity: 0.1 !important;
  background-color: azure !important;
}
.ph-subt-parallax {
  color: #7b7a7a !important;
}
.custom-title-detail {
  color: aliceblue !important;
}
.pi-list-heading {
  color: aliceblue !important;
}
.pi-list-cont {
  color: aliceblue !important;
}
.custom-make {
  color: aliceblue !important;
}

.custom-circle:hover text {
  fill: #fff;
}
.custom-height {
  height: 2000px !important;
  margin-bottom: 100px !important;
}
/* .custom-height img{
    height: 50% !important;
} */
.custom-height .ttgr-item-inner {
  height: 100% !important;
}
.custom-height .ttgr-item-inner .tt-gallery-item {
  height: 100% !important;
}
.custom-height .ttgr-item-inner .tt-gallery-item .tt-gallery-item-inner {
  height: 100% !important;
}
.custom-height
  .ttgr-item-inner
  .tt-gallery-item
  .tt-gallery-item-inner
  .tt-gallery-image-wrap {
  height: 100% !important;
}
.custom-height
  .ttgr-item-inner
  .tt-gallery-item
  .tt-gallery-item-inner
  .anim-zoomin-wrap {
  height: 100% !important;
}
.custom-height
  .ttgr-item-inner
  .tt-gallery-item
  .tt-gallery-item-inner
  .tt-gallery-image-wrap
  .tt-gallery-image {
  height: 100% !important;
}
.magnetic-wrap {
  height: 70px !important;
}
.tt-logo img {
  max-height: 80px !important;
}
a {
  text-decoration: none !important;
}
.content {
  padding: 200px !important;
}
.anim-fadeinup > p {
  font-size: 25px !important;
}
.custom-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: fill !important;
  object-position: 50% 50%;
}
@media (min-width: 768px) {
  .custom-width {
    margin: 0 2vw 6vw 2vw !important;
  }
}
.carousel-fade {
  transition: opacity 0s 1s !important;
}
.tt-demo-btn {
  display: none !important;
}
.anim-image-parallax-wrap {
  height: 100% !important;
}
.anim-image-parallax-inner {
  height: 100% !important;
}
